::ng-deep .mat-dialog-container {
  overflow: inherit;
}
.divider-top {
  width: 500px;
  position: relative;
  margin-top: 25px;
  margin-left: -24px;
}

.divider-bottom {
  width: 500px;
  position: relative;
  margin-bottom: 20px;
  margin-left: -24px;
}

.edit-description-button {
  float: right;
}

.close-button {
  transform: translateX(-30%);
}

.description {
  padding: 24px;
}

.mat-card-subtitle {
  margin-bottom: 0 !important;
}
