<div class="login-wrapper">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="signIn()">
    <h3 class="sign-in-title">Sign In</h3>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
      <mat-error *ngIf="loginForm.get('username').hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.get('password').hasError('required')"></mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign In</button>
    <button mat-raised-button color="primary" (click)="loginViaGoogle()">Sign in via Google</button>
  </form>
</div>
