<mat-toolbar class="navigationToolbar" color="primary">
  <span class="navbar-brand" *ngIf="employee">{{ employee.firstName }} {{ employee.lastName }}</span>
  <nav class="navigation">
    <ul>
      <li>
        <h5>Experience</h5>
        <ul class="navigation-sub-menu">
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.Skills]" [routerLinkActive]="'active'"
                ><div class="heading">Skills</div></a
              >
            </li>
          </div>
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.Conferences]" [routerLinkActive]="'active'"
                ><div class="heading">Conferences/Trainings</div></a
              >
            </li>
          </div>
        </ul>
      </li>
      <li>
        <h5>Vacation</h5>
        <ul class="navigation-sub-menu">
          
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.VacationForm]" [routerLinkActive]="'active'"
                ><div class="heading">Vacation Form</div></a
              >
            </li>
          </div>
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.VacationDays]" [routerLinkActive]="'active'"
                ><div class="heading">Vacation Days</div></a
              >
            </li>
          </div>
        </ul>
      </li>
      <li>
        <h5>Calendar</h5>
        <ul class="navigation-sub-menu">
          
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.NonWorkingHolidays]" [routerLinkActive]="'active'"
                ><div class="heading">Non Working Holidays</div></a
              >
            </li>
          </div>
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.VacationCalendar]" [routerLinkActive]="'active'"
                ><div class="heading">Vacation Calendar</div></a
              >
            </li>
          </div>
        </ul>
      </li>
      
      <!-- <li>
        <h5>Salary Slips</h5>
      </li> -->

      <!-- <li>
        <h5>Inventory</h5>
        <ul class="navigation-sub-menu">
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.EquipmentRequest]" [routerLinkActive]="'active'"
                ><div class="heading">Equipment request</div></a
              >
            </li>
          </div>
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.EquipmentCheckoutRequest]" [routerLinkActive]="'active'"
                ><div class="heading">Equipment checkout request</div></a
              >
            </li>
          </div>
        </ul>
      </li> -->
      <li>
        <h5>Library</h5>
        <ul class="navigation-sub-menu">
          <div class="link">
            <li>
              <a [routerLink]="['/', routePaths.Books]" [routerLinkActive]="'active'"
                ><div class="heading">Books</div></a
              >
            </li>
          </div>
        </ul>
      </li>
    </ul>
  </nav>
</mat-toolbar>
